<div class="row clearfix">
	<form class="form-horizontal" role="form">
		<div class="col-md-4 column"> </div>
			<div class="col-md-4 column">
				<h4><b>Search For Services</b></h4>
				OHS Order:<input type="text" ng-model="order" class="form-control" id="Order" />
				Service:<input type="text"   ng-model="service"  class="form-control" id="Service"/>
				Customer:<input type="text"  ng-model="customer" class="form-control" id="Customer"/>

				Site1 Address:<input type="text"  ng-model="address" class="form-control" id="address"/>
				Site1 City:<input type="text"  ng-model="city" class="form-control" id="City" />

				Site2 Address:<input type="text"  ng-model="address2" class="form-control" id="address2"/>
				Site2 City:<input type="text"  ng-model="city2" class="form-control" id="City2" />
				<button ng-click="search()">Search</button>
			</div>
		<div class="col-md-4 column"> </div>
	</form>
</div>
<div class="row clearfix">
	<div class="col-md-2 column"></div>
	<div ng-show="isHidden" class="ng-cloak" class="col-md-8 column">
		<h4>Search Results </h4>
		<table class="table">
			<tr>
				<td>&nbsp</td>
				<td>Circuit ID</td>
				<td>Order Number</td>
				<td>Product Type</td>
			</tr>
			<tr ng-repeat="circuit in circuits">
				<td>  <a href="#/ServiceData">view</a></td>
				<td>{{circuit.orderNumber}}</td>
				<td>{{circuit.productType}}</td>
				<td>{{circuit.productType}}</td>
			</tr> 
		</table>
	</div>
	<div class="col-md-2 column"></div>
</div>